.poster-canvas{
  background-color:#fff;
  background-image:url("./assets/poster-base.jpg");
  background-position:center center;
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.poster-canvas:before{display:none}
.canvas-avatar-slot,.canvas-qr-slot{z-index:6;background:transparent;border:0;box-shadow:none}
.canvas-avatar-slot img,.canvas-qr-slot img{z-index:2}
